@model WebApp.Models.Result<List<WebApp.Models.TradeItem>>

@if (Model.Failure)
{
    <div>@Model.Message</div>
}

@if (Model.Success && Model.Value != null && Model.Value.Count > 0)
{
    <table style="border: 1px solid black;">
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;">Trade Date</td>
            <td style="border: 1px solid black;">Buy Date</td>
            <td style="border: 1px solid black;">Sell Date</td>
            <td style="border: 1px solid black;">Price</td>
            <td style="border: 1px solid black;">Amount</td>
            <td style="border: 1px solid black;">Buy Note</td>
            <td style="border: 1px solid black;">Sell Note</td>
        </tr>
        @foreach (var trade in Model.Value)
        {
            <tr style="border: 1px solid black;">
                <td style="border: 1px solid black;">@trade.TradeDate</td>
                <td style="border: 1px solid black;">@trade.BuyOrder.Date</td>
                <td style="border: 1px solid black;">@trade.SellOrder.Date</td>
                <td style="border: 1px solid black;">@trade.Price</td>
                <td style="border: 1px solid black;">@trade.Amount</td>
                <td style="border: 1px solid black;">@trade.BuyOrder.Note</td>
                <td style="border: 1px solid black;">@trade.SellOrder.Note</td>
            </tr>
        }
    </table>
}
@if (Model.Success && Model.Value == null || Model.Value.Count == 0)
{
    <div>There are no history</div>
}