@{
    Layout = null;
}
@using WebApp.Models
@model WebApp.Models.Result
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style></style>
</head>
<body>
<div>
    Main Page
</div>
    @if (Model != null && Model.Failure)
    {
        <div style="color: brown;">@Model.Message</div>
    }
<table>
    <tr>
        <td style="padding-right: 50px;">
            <div style="margin-top: 15px; font-weight: bold;">Buy cakes</div>
            @Html.Partial("Publish", OrderType.Buy)

            <div style="margin-top: 15px; font-weight: bold;">Sell orders</div>
            @Html.Action("SellOrders", "Home")
        </td>
        <td>
            <div style="margin-top: 15px; font-weight: bold;">Sell cakes</div>
            @Html.Partial("Publish", OrderType.Sell)

            <div style="margin-top: 15px; font-weight: bold;">Buy orders</div>
            @Html.Action("BuyOrders")
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div style="margin-top: 15px; font-weight: bold;">Trade history</div>
            @Html.Action("History")
        </td>
    </tr>
</table>
</body>
</html>
